// Here goes extra CSS
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root > * {
  --md-primary-fg-color: #00778b;
  --md-primary-fg-color--light: #fff;
  --md-primary-fg-color--dark:  #006b7d;
  --md-typeset-color: #1a1a1a;
}


[data-md-color-scheme="default"] {
    --md-primary-fg-color: #00778b;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark:  #006b7d;
    --md-accent-fg-color: #fa4616;
    --md-typeset-a-color: #fa4616;
    --md-default-bg-color: #fff;
    --md-typeset-color: #1a1a1a;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #333333;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark:  #005f6f;
    --md-accent-fg-color: #fa4616;
    --md-typeset-a-color: #fa4616;
    --md-default-bg-color: #333333;
    --md-typeset-color: #e6f1f3;
}

body {
  background-color: var(--md-default-bg-color);
  font-size: 16px;
  color: var(--md-typeset-color);
}

a {
color: inherit;
text-decoration: none;
}

a:hover {
  color: var(--md-primary-fg-color--light);
}

pre[class*="language-"] {
  border: none;
  background: rgb(40, 40, 40);
  font-size: 1rem;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  font-size: 14px;
}

.md-clipboard, .md-clipboard:is(:focus, :hover) {
  color: white;
}

:hover > .md-clipboard {
  color: white;
}

.md-content {
  padding: 1rem 5rem;
}

.md-nav {
  font-size: 1rem;
}

.md-typeset {
  font-size: 1.4rem;
}

.md-typeset h1 {
  font-size: 3rem;
  font-weight: 700;
}


.md-typeset h2 {
  font-size: 2rem;
  font-weight: 700;
}


.md-typeset h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.md-typeset h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
.md-typeset h5,
.md-typeset h6 {
  font-size: 1.4rem;
  font-weight: 700;
}

.md-typeset blockquote {
  font-size: 1.4rem;
  background-color: var(--md-default-fg-color--lightest);
  padding: 0.5rem 1rem;
}

.md-tabs__link {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.md-header__title {
  font-size: 1.2rem;
}

.md-skip,
.md-footer__direction,
.md-copyright,
.md-typeset .md-input,
.md-search-result__meta,
.md-search-result__more summary,
.md-search-result__title,
.md-search-result__teaser,
.md-search-result__terms,
.md-source,
.md-top {
  font-size: 0.9rem;
}

.md-source__facts,
.md-tag,
.md-tooltip__inner,
.md-typeset .footnote,
.md-typeset .footnote-ref,
.md-typeset .tabbed-labels>label {
  font-size: 0.8rem;
}

.md-header, .md-tabs {
    background-color: var(--md-primary-fg-color--dark);
}

.md-nav__link:hover {
    font-weight: 700;
}

table {
    width: 100%;
    table-layout: auto;
    display: table !important;
}

.md-typeset code {
  padding: 0.15rem 0.5rem;
}

td:nth-child(1) {
    width: 30%;
}

.md-typeset table:not([class]) {
  font-size: 1rem;
}

.md-typeset__table {
    min-width: 100%;
}

.md-grid {
    max-width: 1600px;
}

.docoff-Code > .docoff-Code__syntaxHighlighter > code {
  padding: 0;
}

.docoff-LivePreview {
  /* Values taken from the RACOM theme*/
  background-color: var(--md-primary-fg-color--light);
  color: rgb(51, 51, 51);
  box-shadow: 1px 1px .5rem lightgray inset;
  border: none;
}

.docoff-Root {
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
 font-size: 1rem;
}

.md-tabs__link, .md-source {
  color: var(--md-primary-fg-color--light);
}

.md-header {
  padding: 0.6rem;
}

